*{
    font-family: Arial, Helvetica, sans-serif;
    color: #24485E;
}
body{
    background: #F3F2E9;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F3F2E9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}



