* {
    font-family: Arial, sans-serif !important;
    letter-spacing: 0.1em !important;
    word-spacing: 0.2em !important;
    font-size: 16px !important;
    line-height: 1.6em !important;
  }
  
  /* Additional styles */
  body {
    background-color: #F3F2E9;
    color: #24485E;
  }
  
  /* Dark mode style */
  body.dark-mode {
    background-color: #24485E;
    color: #F3F2E9;
  }